@media(max-width:900px){
  nav{padding:16px 24px;}
  .nav-links{display:none;}
  section{padding:70px 24px;}
  .about-inner,.contact-inner{grid-template-columns:1fr;}
  .craft-grid{grid-template-columns:1fr 1fr;}
  .testi-grid{grid-template-columns:1fr;}
  .footer-top{grid-template-columns:1fr 1fr;}
  .hero{padding:100px 24px 60px;}
  .form-row{grid-template-columns:1fr;}
  .newsletter-form{flex-direction:column;}
  .newsletter-input{border-right:1px solid rgba(201,149,58,.3);border-bottom:none;}
}
@media(max-width:560px){
  .products-grid{grid-template-columns:1fr 1fr;}
  .craft-grid{grid-template-columns:1fr;}
  .footer-top{grid-template-columns:1fr;}
  .product-img-wrap {
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    background: var(--bg3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-footer{
    flex-direction: column; 
    align-items: flex-start;
    gap: 12px;
  }
  .product-add{
    margin-top: 5px;
    width:113px;
    height:38px;
    border:1px solid var(--gold);
    background:transparent;color:var(--gold);
    font-size:17px;
    cursor:none;
    display:flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:center;
    transition:all .3s;
  }
  .product-img-wrap img{
    max-width: 132px;
    max-height: 132px;
  }
}